<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<mat-toolbar color="primary" class="">
  <a routerLink="./"><mat-icon>home</mat-icon></a>

  <span class="" routerLink="cadastro">Cadastro de Clientes</span>
  <span class="spacer"></span>
  <a class="" routerLink="/cadastro"
    ><mat-icon fontIcon="feed"></mat-icon> Formulário
  </a>
  <a class="" routerLink="/consulta" fontIcon=""
    ><mat-icon fontIcon="search"></mat-icon> Consulta
  </a>
</mat-toolbar>

<mat-divider></mat-divider>

<router-outlet />
